<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/denokun/style.css">
  </head>
  <body>
    <div class="header" onclick="location.href = '.'">
      {{ page.title }}
    </div>
      {{ content | safe }}
  </body>
</html>